
<div id="login-lightbox" class="lightbox">
  <form method="post" action="/login"><div>
    <h2>Log in</h2>
    <p>Enter your Mozilla LDAP credentials to log in as a sheriff or an admin.</p>
    <div class="indent">
      <p>
        <input type="text" id="username" name="username" />
      </p>
      <p>
        <input type="password" id="password" name="password" />
      </p>
    </div>
    <p class="buttons">
      <input type="submit" class="submit" value="Log in" />
      <a class="cancel" href="#">Cancel</a>
    </p>
  </div></form>
</div>

<div id="sub-req-lightbox" class="lightbox">
  <form method="post" action="#"><div>
    <h2>Request a Sub of Sheriff Duty</h2>
    <p>You are asking for another sheriff to assume duty on:</p>
    <div class="indent">
      <p class="date">Eightsday, Thirteenber 42, 2009i</p>
    </div>
    <p>
      Other sheriffs who are interested in subbing for others will be notified
      of this request.
    </p>
    <p>Do you want to leave a comment with this request?</p>
    <div class="indent">
      <p>
        <textarea name="comment" rows="4" cols="56"></textarea>
      </p>
    </div>
    <p class="buttons">
      <input type="submit" class="submit" value="Make the Request" />
      <a class="cancel" href="#">Never Mind</a>
    </p>
  </div></form>
</div>

<div id="sub-req-take-lightbox" class="lightbox">
  <form method="post" action="#">
    <div>
      <h2>Take a Subbing Request</h2>
      <p>You are taking the request to sub for another sheriff's duty on:</p>
      <div class="indent">
        <p class="date">Eightsday, Thirteenber 42, 2009i</p>
      </div>
      <p>
        The current sheriff,
        <a class="sheriff">Nivens McTwisp <em>(whiterabbit)</em></a>,
        will be notified of this taking.
      </p>
    <p class="buttons">
      <input type="submit" class="submit" value="Take the Request" />
      <a class="cancel" href="#">Never Mind</a>
    </p>
    </div>
  </form>
</div>

<div id="sub-offer-lightbox" class="lightbox">
  <form method="post" action="#"><div>
    <h2>Offer to Sub Sheriff Duty</h2>
    <p>You are offering to take over sheriff duty on</p>
    <div class="indent">
      <p class="date">Eightsday, Thirteenber 42, 2009i</p>
    </div>
    <p>
      The current sheriff,
      <a class="sheriff">Nivens McTwisp <em>(whiterabbit)</em></a>,
      will have to confirm this offer.
    </p>
    <p>Do you want to leave a comment for with your offer?</p>
    <div class="indent">
      <p>
        <textarea name="comment" rows="4" cols="56"></textarea>
      </p>
    </div>
    <p class="buttons">
      <input type="submit" class="submit" value="Extend the Offer" />
      <a class="cancel" href="#">Never Mind</a>
    </p>
  </div></form>
</div>

<div id="sub-offer-accept-lightbox" class="lightbox">
  <form method="post" action="#"><div>
    <h2>Accept a Subbing Offer</h2>
    <p>You are accepting an offer from <a class="sheriff">Nivens McTwisp <em>(whiterabbit)</em></a> to take on your sheriff duty on</p>
    <div class="indent">
      <p class="date">Eightsday, Thirteenber 42, 2009i</p>
    </div>
    <p class="buttons">
      <input type="submit" class="submit" value="Accept" />
      <a href=""#"" class="cancel">Never Mind</a>
    </p>
  </div></form>
</div>

<div id="sub-offer-decline-lightbox" class="lightbox">
  <form method="post" action="#"><div>
    <h2>Decline a Subbing Offer</h2>
    <p>You are declining an offer from <a class="sheriff">Nivens McTwisp <em>(whiterabbit)</em></a> to take on your sheriff duty on</p>
    <div class="indent">
      <p class="date">Eightsday, Thirteenber 42, 2009i</p>
    </div>
    <p class="buttons">
      <input type="submit" class="submit" value="Decline" />
      <a href=""#"" class="cancel">Never Mind</a>
    </p>
  </div></form>
</div>

