
<div id="cal-bars">
  <div id="deck"><div>
    <h2><span>Who's on Duty Next</span></h2>
    <ul>
      <li class="yesterday">
        <strong>Yesterday</strong>
        <a class="sheriff" href="#">Stuart Parmenter <em>(stuart)</em></a>
        <span>
          <a rel="swap-offer" href="#"></a>
          <a rel="swap-offer" href="#"></a>
        </span>
      </li>
      <li class="today">
        <strong>Today</strong>
        <a class="sheriff" href="#">Dave Townsend <em>(Mossop)</em></a>
        <span>
          <a rel="swap-offer" href="#">Offer to Swap</a>
        </span>
      </li>
      <li class="tomorrow">
        <strong>Tomorrow</strong>
        <a class="sheriff" href="#">Robert O'Callahan <em>(roc)</em></a>
        <span>
          <a rel="swap-offer" href="#">Offer to Swap</a>
        </span>
      </li>
      <li class="swap-needed">
        <strong>Friday</strong>
        <a class="sheriff" href="#">Shawn Wilsher <em>(sdwilsh)</em></a>
        <span>
          <a rel="swap-offer" href="#">Offer to Swap</a>
        </span>
      </li>
      <li class="self">
        <strong>Saturday</strong>
        <a class="sheriff" href="#">I'm on Duty</a>
        <span>
          <a rel="swap-offer" href="#">Request a Swap</a>
        </span>
      </li>
    </ul>
  </div></div>

  <div id="schedule"><div>
    <h2><span>When I'm on Duty</span></h2>
    <ul>
      <li class="last">
        <a class="date" href="">Thursday, August 7, 2009</a>
      </li>
      <li class="next">
        <a class="date" href="">Friday, August 8, 2009</a>
        <span>
          <a rel="swap-req" href="#">Request a Swap</a>
        </span>
      </li>
      <li class="">
        <a class="date" href="">Thursday, August 21, 2009</a>
        <span>
          <a rel="swap-req" href="#">Request a Swap</a>
        </span>
      </li>
      <li class="">
        <a class="date" href="">Friday, August 22, 2009</a>
        <span>
          <a rel="swap-req" href="#">Request a Swap</a>
        </span>
      </li>
      <li class="">
        <a class="date" href="">Thursday, September 5, 2009</a>
        <span>
          <a rel="swap-req" href="#">Request a Swap</a>
        </span>
      </li>
    </ul>
  </div></div>
</div>

<div id="calendar-nav">
  <form class="nav"><ul>
    <li class="subscribe">
      Subscribe to:
      <select>
        <option>- Select a Calendar -</option>
        <option>All Sheriff Rotations</option>
        <option>When I'm on Duty</option>
        <option>Requests for Swaps</option>
      </select>
    </li>
    <li><button>&laquo; Month</button></li>
    <li><button>&laquo; Week</button></li>
    <li>
      <select>
        <option>- Jump to Month -</option>
        <option>2009 February</option>
        <option>2009 March</option>
        <option>2009 April</option>
        <option>2009 June</option>
        <option class="current">2009 July &bull;</option>
        <option class="current">2009 August</option>
        <option>2009 September</option>
        <option>2009 October</option>
        <option>2009 November</option>
        <option>2009 December</option>
        <option>2010 January</option>
      </select>
    </li>
    <li><button>Today</button></li>
    <li><button>Week &raquo;</button></li>
    <li><button>Month &raquo;</button></li>
  </ul></form>
</div>

<div id="calendar">
  <div><table>
    <colgroup>
      <col id="col-month" />
      <col id="col-sun" />
      <col id="col-mon" />
      <col id="col-tue" />
      <col id="col-wed" />
      <col id="col-thu" />
      <col id="col-fri" />
      <col id="col-sat" />
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th rowspan="2">Jul</th>
        <td class="past">
          <div class="day">20</div>
          <p class="sheriff"><a href="#">Jonas Sicking <em>(sicking)</em></a><p>

        </td>
        <td class="past">
          <div class="day">21</div>
          <p class="sheriff"><a href="#">Brad Lassey <em>(blassey)</em></a><p>

        </td>
        <td class="past">
          <div class="day">22</div>
          <p class="sheriff"><a href="#">Gavin Sharp <em>(gavin)</em></a><p>

        </td>
        <td class="past">
          <div class="day">23</div>
          <p class="sheriff"><a href="#">Rob Strong <em>(rob_strong)</em></a><p>

        </td>
        <td class="past">
          <div class="day">24</div>
          <p class="sheriff"><a href="#">Stuart Parmenter <em>(stuart)</em></a><p>

        </td>
        <td class="past">
          <div class="day">25</div>
          <p class="sheriff"><a href="#">Dave Townsend <em>(Mossop)</em></a><p>

        </td>
        <td class="past">
          <div class="day">26</div>
          <p class="sheriff"><a href="#">Robert O'Callahan <em>(roc)</em></a><p>

        </td>
      </tr>
      <tr>
        <td class="past">
          <div class="day">27</div>
          <p class="sheriff"><a href="#">Shawn Wilsher <em>(sdwilsh)</em></a><p>

        </td>
        <td class="past">
          <div class="day">28</div>
          <p class="sheriff"><a href="#">Jonas Sicking <em>(sicking)</em></a><p>

        </td>
        <td class="past">
          <div class="day">29</div>
          <p class="sheriff"><a href="#">Brad Lassey <em>(blassey)</em></a><p>

        </td>
        <td class="today">
          <div class="day">30</div>
          <p class="sheriff"><a href="#">Gavin Sharp <em>(gavin)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">31</div>
          <p class="sheriff"><a href="#">Rob Strong <em>(rob_strong)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td class="noday"> </td>
        <td class="noday"> </td>
      </tr>
      <tr>
        <th rowspan="4">Aug</th>
        <td class="noday"> </td>
        <td class="noday"> </td>
        <td class="noday"> </td>
        <td class="noday"> </td>
        <td class="noday"> </td>
        <td>
          <div class="day">1</div>
          <p class="sheriff"><a href="#">Stuart Parmenter <em>(stuart)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">2</div>
          <p class="sheriff"><a href="#">Dave Townsend <em>(Mossop)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="day">3</div>
          <p class="sheriff"><a href="#">Robert O'Callahan <em>(roc)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td class="unclaimed">
          <div class="day">4</div>
          <p class="sheriff"><a href="#">Shawn Wilsher <em>(sdwilsh)</em></a><p>
          <p class=""><strong>Swap Needed</strong><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">5</div>
          <p class="sheriff"><a href="#">Jonas Sicking <em>(sicking)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">6</div>
          <p class="sheriff"><a href="#">Brad Lassey <em>(blassey)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td class="self">
          <div class="day">7</div>
          <p class="sheriff"><strong>I'm on Duty</strong><p>
          <p class="command"><a rel="swap-req" href="#">Request a Swap</a><p>
        </td>
        <td class="self">
          <div class="day">8</div>
          <p class="sheriff"><strong>I'm on Duty</strong><p>
            <p class="command"><a rel="swap-req" href="#">Request a Swap</a><p>
        </td>
        <td>
          <div class="day">9</div>
          <p class="sheriff"><a href="#">Gavin Sharp <em>(gavin)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="day">10</div>
          <p class="sheriff"><a href="#">Rob Strong <em>(rob_strong)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td class="swap-needed">
          <div class="day">11</div>
          <p class="sheriff"><a href="#">Stuart Parmenter <em>(stuart)</em></a><p>
          <p class=""><strong>Swap Needed</strong><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">12</div>
          <p class="sheriff"><a href="#">Dave Townsend <em>(Mossop)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">13</div>
          <p class="sheriff"><a href="#">Robert O'Callahan <em>(roc)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">14</div>
          <p class="sheriff"><a href="#">Shawn Wilsher <em>(sdwilsh)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">15</div>
          <p class="sheriff"><a href="#">Jonas Sicking <em>(sicking)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">16</div>
          <p class="sheriff"><a href="#">Brad Lassey <em>(blassey)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="day">27</div>
          <p class="sheriff"><a href="#">Gavin Sharp <em>(gavin)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">28</div>
          <p class="sheriff"><a href="#">Rob Strong <em>(rob_strong)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">29</div>
          <p class="sheriff"><a href="#">Stuart Parmenter <em>(stuart)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">30</div>
          <p class="sheriff"><a href="#">Dave Townsend <em>(Mossop)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">31</div>
          <p class="sheriff"><a href="#">Robert O'Callahan <em>(roc)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">31</div>
          <p class="sheriff"><a href="#">Shawn Wilsher <em>(sdwilsh)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
        <td>
          <div class="day">31</div>
          <p class="sheriff"><a href="#">Jonas Sicking <em>(sicking)</em></a><p>
          <p class="command"><a rel="swap-offer" href="#">Offer to Swap</a><p>
        </td>
      </tr>
    </tbody>
  </table></div>
